.back-slide {
    background-image: url(../../../../assets/imgs/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.message-loader {
    color: #000;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}


.description-data {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.btn-poke {
    color: #fff;
}